@import base/vars


.cardWrapper
        width: 30%
        margin: 20px 10px
        cursor: pointer
        transition: all 1s

        @media (max-width:$widthScreen)
                width: 100%

.paras
        font-size: 15px
        display: flex
        justify-content: space-between

        // styling individual paras:
        *
                background-color: #f8ece4
                color: $primary
                padding: 10px 15px
                margin: 5px
                text-align: center
                border-radius: 10px
                display: flex
                align-items: center


.dateWideScreen
        @media (max-width: $widthScreen)
                display: none




.dateSmallScreen
        color: $grey

        @media (min-width: $widthScreen)
                display: none
