
@import base/vars







.homeButton
        width: 100%
        color: $alternative
        position: sticky
        top:0%
        font-size: 5rem
        text-align: right
        transition: all 2s
        filter: drop-shadow(2px 2px 5px black)
        &:hover
                color: $primary
                font-size: 7rem
                filter: drop-shadow(2px 2px 2px black)








.postWrapper
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 15%
        @media (max-width: $widthScreen)
                padding: 0


        h1
                text-align: center



.date
        color: $grey



.imageWrapper
        width: 100%
        *
                border-radius: 10px



.subTextWrapper
        display: flex
        width: 100%
        padding: 20px
        justify-content: space-between

        @media (max-width: $widthScreen)
                display: none





.miniParaWrapper
        display: flex
        justify-content: space-between




.button
        background-color: $primary
        color: white
        width: 30%
        height: 50px
        outline: none
        cursor: pointer
        border: 0
        border-radius: 10px
        transition: all 2s
        font-size: 1rem

        *
                text-decoration: none
                color: white

        &:hover
                background-color: $alternative
                color: white
                width: 35%
                height: 75px
                font-size: 1.5rem































